In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
import csv

In [2]:
street_name=pd.read_csv(r'C:\Users\nupur\Desktop\wellbe\data.csv')
street_name

               LON        LAT  FAMILIAR
0      -149.362137  61.455872         1
1      -149.234243  61.441350         1
2      -149.211979  61.430535         1
3      -149.212491  61.429942         1
4      -149.273845  61.453997         1
...            ...        ...       ...
292357 -139.751683  59.542984         1
292358 -139.685305  59.551517         0
292359 -139.714128  59.550192         1
292360 -139.712599  59.548758         0
292361 -139.736902  59.545799         0

[292362 rows x 3 columns]

In [72]:
street_name.groupby('FAMILIAR').count()

             LON     LAT
FAMILIAR
0         147533  147533
1         144829  144829

In [3]:
X=street_name.iloc[:,[0,1]]
y=street_name.iloc[:,-1]

In [4]:
X

               LON        LAT
0      -149.362137  61.455872
1      -149.234243  61.441350
2      -149.211979  61.430535
3      -149.212491  61.429942
4      -149.273845  61.453997
...            ...        ...
292357 -139.751683  59.542984
292358 -139.685305  59.551517
292359 -139.714128  59.550192
292360 -139.712599  59.548758
292361 -139.736902  59.545799

[292362 rows x 2 columns]

In [5]:
y

0         1
1         1
2         1
3         1
4         1
         ..
292357    1
292358    0
292359    1
292360    0
292361    0
Name: FAMILIAR, Length: 292362, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
X_train=X_train.to_numpy()
X_test=X_test.to_numpy()

In [7]:
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC

In [8]:
clf1=RandomForestClassifier(n_estimators=400, random_state=50)
clf2=XGBClassifier(n_estimators=350,max_depth=10,random_state =5,use_label_encoder=False)
clf3=LGBMClassifier(random_state=10)
clf_lst=[]
clf_lst.append(('RandomForest',clf1))
clf_lst.append(('XGB',clf2))
clf_lst.append(('LGBM',clf3))

In [9]:
from sklearn import model_selection
from sklearn.ensemble import VotingClassifier
ensemble = VotingClassifier(clf_lst)
ensemble.fit(X_train,y_train)

[22:49:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

VotingClassifier(estimators=[('RandomForest',
                              RandomForestClassifier(n_estimators=400,
                                                     random_state=50)),
                             ('XGB',
                              XGBClassifier(base_score=None, booster=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None, gamma=None,
                                            gpu_id=None, importance_type='gain',
                                            interaction_constraints=None,
                                            learning_rate=None,
                                            max_delta_step=None, max_depth=10,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimators=350, n_jobs=None,
                                            num_parallel_tree=None,
                                            random_state=5, reg_alpha=None,
                                            reg_lambda=None,
                                            scale_pos_weight=None,
                                            subsample=None, tree_method=None,
                                            use_label_encoder=False,
                                            validate_parameters=None,
                                            verbosity=None)),
                             ('LGBM', LGBMClassifier(random_state=10))])

In [ ]:
import joblib
joblib.dump(ensemble,  'model_final2.sav',compress=3)
joblib.dump(obj, 'model.sav')   # zlib

In [10]:
inputt=np.array([[-149.362137,61.455872]])
#inputt=inputt.to_numpy()
y_pred=ensemble.predict(X_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [11]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88     44177
           1       0.88      0.88      0.88     43532

    accuracy                           0.88     87709
   macro avg       0.88      0.88      0.88     87709
weighted avg       0.88      0.88      0.88     87709

In [12]:
accuracy_score(y_test, y_pred)

0.8799325040759786

In [61]:
import pickle
filename=r'C:\Users\nupur\Desktop\wellbe\model_final2.sav'

In [13]:
import joblib
joblib.dump(ensemble,r'C:\Users\nupur\Desktop\wellbe\model_final3.sav',compress=3)

['C:\\Users\\nupur\\Desktop\\wellbe\\model_final3.sav']

In [62]:
pickle.dump(ensemble, open(filename, 'wb'))

In [63]:
import pickle
loaded_model=pickle.load(open(filename, 'rb'))

In [67]:
inputt=np.array([[-151.1616767,60.414085 ]])
Y_pred=loaded_model.predict(inputt)
Y_pred[0]

1

In [74]:
accuracy_score(y_test, Y_pred)

0.9306000524461572

In [75]:
Y_pred

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)